* {
    box-sizing: border-box;
  }
  /* Column container */
  .row { 
      display: flex;
      flex-wrap: wrap;
  }

  /* Create two unequal columns that sits next to each other */
.side {
    flex: 35%;
    background-color: #f1f1f1;
    padding: 20px;
}

/* Main column */
.main { 
    flex: 65%; /* Set the width of the main content */
    background-color:#f1f1f1; /* White background color */
    font-family: 'Roboto', sans-serif;
    /*padding: 20px;  Some padding */
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
    .row { 
        flex-direction: column;
    }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
    .navbar a {
        float: none;
        width: 100%;
    }
}
