* {
    box-sizing: border-box;
  }
  /* Column container */
  .row { 
      display: flex;
      flex-wrap: wrap;
  }

  /* Create two unequal columns */
.side {
    flex: 30%;
 /*   background-color: #f1f1f1;*/
    padding: 15px;
}

/* Main column */
.main { 
    flex: 70%; 
   /* background-color:#f1f1f1; */
}

/* Responsive layout */
@media screen and (max-width: 700px) {
    .row { 
        flex-direction: column;
    }
}

/* Responsive layout */
@media screen and (max-width: 400px) {
    .navbar a {
        float: none;
        width: 100%;
    }
}

.row h2{
    font-family: 'Roboto', sans-serif;  
}

.row p{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}
