.vision{
    background-color: white;
}

.vision h2{
    font-family: 'Roboto', sans-serif;
}

.vision p{
    font-family: 'Roboto', sans-serif;
    font-size:18px;
}

.gallery h2{
    font-family: 'Roboto', sans-serif;
}
.row {
    display: flex;
    flex-wrap: wrap;
  }
  
  /* Create two equal columns that sits next to each other */
  .column {
    flex: 50%;
    padding: 0 4px;
  }
  
  .column img {
    z-index: -1;
    margin-top: 8px;
    vertical-align: middle;
    position: relative;
    float: left;
    width: 400px;
    height: 400px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
  }

.comments h2{
    font-family: 'Roboto', sans-serif;
}
*.comments p{
    font-family: 'Roboto', sans-serif;
    font-size:20px;
}